* { 
  margin: 0;
  padding: 0;
}

body {
  background: url(http://defunkt.github.com/ambition/static/bg.png) repeat;
  color: #333;
  font-family: serif;
}

#main {
  background: white;
  width: 1250px;
  margin: 0 auto;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

#header {
  border-bottom: 1px solid #aaa;
  background: #eee;
  padding-left: 10px;
  margin-bottom: 10px;
}

#header h1 {
  font-family: georgia;
  color: #aaa;
  letter-spacing: -3px;
  font-size: 3em;
	text-shadow: #0c0c0c 2px 2px 1px;
}

.a {
  color: red;
}

#header h1 .a {
  font-size: 1.4em;
}

#nav {
  float: right;
  padding: 10px;
  margin-top: -35px;
  font-family: sans-serif;
  font-size: 0.9em;
}

#nav a {
  text-decoration: none;
}

#nav a:hover {
  text-decoration: underline;
}

#body {
  padding: 0 20px 0 10px;
}

h2 {
  border-bottom: 1px dotted #aaa;
  margin-bottom: 10px;
  margin-top: 15px;
}

ul, p {
  padding: 0 0 10px 10px;
  line-height: 17px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 0.7em;
}

p {
  font-size: 0.8em;
}

a {
  color: #333;
}

a:hover {
  text-decoration: none;
}

ul {
  margin-left: 20px;
}

code {
  font-size: 1.3em;
  background: #eee;
}

pre {
  margin: 0 18px 10px 10px;
  padding: 10px;
  border: 1px solid #aaa;
  background: #eee;
}

#footer {
  font-family: helvetica;
  font-size:0.9em;
  border-top: 1px solid #aaa;
  background: #eee;
  padding: 10px;
  text-align: center;
  margin-top: 15px;
}

.ruby .string {
  color: #ff0000;
}
.ruby .brackets {	
  color: #777;
}

.ruby .regex { 
  color: #37ffff;
}

.normal {}
.comment { color: #9900FF; }
.keywords, .expression { color: #C71585; font-weight: bold; }
.method { color: #077; }
.class { color: #074; }
.module { color: #050; }
.punct { color: #447; font-weight: bold; }
.symbol { color: #099; }
.string { color: #6600CC; background: #FFE; }
.char { color: #F07; }
.ident { color: #004; }
.constant { color: #07F; }
.regex { color: #B66; background: #FEF; }
.number { color: blue; }
.attribute { color: #7BB; }
.global { color: #7FB; }
.expr { color: #227; } 
.escape { color: #277; }

.example {
  clear: both;
}

.example pre {
  width: 47%;
  height: 100%;
  float: left;
}

.example textarea {
  width: 47%;
  height: 100%;
  padding: 10px;
  font-family: monospace;
  font-size: 13px;
}
.example .syntaxhighlighter {
  font-size: 0.75em !important;
  width: 595px !important;
  margin-right: 20px !important;
  margin-top: 0px !important;
  float: left !important;
  border: 1px solid #aaa !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
     /* Add your Safari-specific styles here. */
  .example .syntaxhighlighter {
    font-size: 0.93em !important;
  }
}